@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Cartesius 3D Printer - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
<body>
    
    @* Navigation bar top *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="width:auto;margin-left:0px;margin-right:0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* Set the navbar menu button for the page you're on, as "active"*@
                    @{
                        if (ViewBag.Title == "Home") {
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        }
                        else{
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        }
                        
                        if (ViewBag.Title == "About the Cartesius 3D Printer") {
                            <li class="active">@Html.ActionLink("About", "About", "Home")</li>
                        }
                        else{
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        }
                        
                        if (ViewBag.Title == "Contact") {
                            <li class="active">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        }
                        else{
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        }
                    }                                                                                              
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    

    @* Header with logo *@
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="padding-top: 3px; padding-bottom: 3px; margin-top: 50px; margin-bottom: 0px; background-color: #F8F8FF; ">
                <a href="/">
                    <img style="margin-left: calc(50% - 152px);" src="/Content/Images/C3DP.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="thin-blue-line"></div>
    </div>
    
    @* Wrapper with body from loaded view *@
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container, my-bodycontainer-style">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p style="text-align:center; margin-bottom: 1%; margin-top:1%;">&copy; @DateTime.Now.Year - Cartesius 3D Printer Jobliste System</p>
            </footer>
        </div>
        <div class="col-md-1"></div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

