@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using WebApplication.Models
@if (Request.IsAuthenticated)
{
    
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());

    if (Roles.IsUserInRole("Admin"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello Admin " + currentUser.FName + " " + currentUser.LName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Create Job", "Create", "Printer3DJob")

                </li>

                <li>
                    @Html.ActionLink("All Users", "Index", "Account")
                </li>

                <li>
                    @Html.ActionLink("Job History", "Index", "Printer3DJob")
                </li>
                <li>
                    @Html.ActionLink("Print materials", "Index", "PrintMaterial")
                </li>
            </ul>

        }
    }
    else if (Roles.IsUserInRole("User"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + currentUser.FName + " " + currentUser.LName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
                </li>

                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>

            </ul>
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Create Job", "Create", "Printer3DJob")

                </li>
                <li>
                    @Html.ActionLink("Job History", "Index", "Printer3DJob")
                </li>
            </ul>
        }

    }
    else
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + currentUser.FName + " " + currentUser.LName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
                </li>

                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>

            </ul>
        }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @* Set the navbar menu button for the page you're on, as "active"*@
        @{
            if (ViewBag.Title == "Register"){
                <li class="active">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
            }
            else{
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
            }

            if (ViewBag.Title == "Log in") {
                <li class="active">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
            }
            else{
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>

            }
        }
    </ul>

}
