@model IEnumerable<WebApplication.Models.PrintMaterial>

@{
    ViewBag.Title = "Print materials";
}

<div class="jumbotron, my-jumbotron-style">
    <div class="row">
        <div class="col-md-6">
            <h2>@ViewBag.Title</h2>
            <br />
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.MaterialType)
                    </th>
                    <th class="col-md-3">
                        Options
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-3">
                            @Html.DisplayFor(modelItem => item.MaterialType)
                        </td>
                        <td class="col-md-3">
                            @Html.ActionLink("Edit", "Edit", new { id = item.PrintMaterialId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PrintMaterialId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PrintMaterialId })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>

