@model WebApplication.Models.Printer3DJob

@{
    ViewBag.Title = "Create";
}

<br />

@using (Html.BeginForm(actionName: "Create", controllerName: "Printer3DJob", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Printer3DJob</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Enter your name:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Owner)
                @Html.ValidationMessageFor(model => model.Owner)
            </div>
        </div>
        

        <div class="form-group">
            <label class="control-label col-md-2">Choose a deadline for your order (or leave this field blank):</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deadline)
                @Html.ValidationMessageFor(model => model.Deadline)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Choose a File:</label>
            <div class="col-md-10">   
                @Html.TextBox("file", "", new { type = "file" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Choose the desired density for your print:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hollow)
                @Html.ValidationMessageFor(model => model.Hollow)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Comments:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
