@using Newtonsoft.Json
@model WebApplication.Models.CreateJobViewModel

@{
    ViewBag.Title = "Create";
}


<div class="jumbotron, my-jumbotron-style">
    <div class="row">
        <div class="col-md-12">
            <h2>Create Job</h2>
            <br />

            @using (Html.BeginForm(actionName: "Create", controllerName: "Printer3DJob", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    <hr />
                    @Html.ValidationSummary(true)


                    <div class="form-group">
                        <label class="control-label col-md-3">Choose a deadline for your order (or leave this field blank):</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Deadline)
                            @Html.ValidationMessageFor(model => model.Deadline)

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Choose a design File:</label>
                        <div class="col-md-9">
                            @Html.TextBox("file", "", new { type = "file" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Choose the desired density for your print (1% to 100%):</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Hollow)
                            @Html.ValidationMessageFor(model => model.Hollow)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Choose material:</label>
                        <div class="col-md-9">
                            @* @Html.DropDownListFor(model => model.Material, new SelectList(ViewBag.DropDData))*@
                            @Html.EditorFor(model => model.Material.MaterialType)
                            @Html.ValidationMessageFor(model => model.Material.MaterialType)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Comments:</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Comment)
                            @Html.ValidationMessageFor(model => model.Comment)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        </div>
    </div>
</div>


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
