@*@using System.Data.Entity.ModelConfiguration.Conventions*@
@model WebApplication.Models.DetailsPrinterViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Printer3DJob</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hollow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hollow)
        </dd>
        
        @*<dt>
            @Html.DisplayNameFor(model => model.Material.MaterialType)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Material.MaterialType)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Printer3DJobId }) |
    @Html.ActionLink("Download", "DownloadFile", new {id= Model.Printer3DJobId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
