@model WebApplication.Models.HistoryViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-4">

        <h4 align="center">
            In queue
            <br/>
            <br/>
        </h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobsInQueue[0].Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobsInQueue[0].Deadline)
                </th>
                <th>Options</th>
            </tr>

            @foreach (var item in Model.JobsInQueue)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td class="dropdown">
                        <button id="dLabel" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Status change", "Edit", new { id = item.Printer3DJobId })
                            }
                            <br />
                            @Html.ActionLink("Details & Download", "Details", new { id = item.Printer3DJobId })
                            <br />
                            @Html.ActionLink("Delete", "Delete", new { id = item.Printer3DJobId })
                        </ul>

                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-4">
        <h4 align="center">
            In progress
            <br />
            <br />
        </h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobsInProgress[0].Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobsInProgress[0].Deadline)
                </th>
                <th>Options</th>
            </tr>

            @foreach (var item in Model.JobsInProgress)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td class="dropdown">
    <button id="dLabel" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Status change", "Edit", new { id = item.Printer3DJobId })
        }
        <br />
        @Html.ActionLink("Details & Download", "Details", new { id = item.Printer3DJobId })
        <br />
        @Html.ActionLink("Delete", "Delete", new { id = item.Printer3DJobId })
    </ul>

</td>
                </tr>
            }

        </table>
    </div>

    <div class="col-md-4">
        <h4 align="center">
            Done
            <br />
            <br />
        </h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobsDone[0].Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobsDone[0].Deadline)
                </th>
                <th>Options</th>
            </tr>

            @foreach (var item in Model.JobsDone)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td class="dropdown">
                        <button id="dLabel" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Status change", "Edit", new { id = item.Printer3DJobId })
                            }
                            <br/>
                            @Html.ActionLink("Details & Download", "Details", new { id = item.Printer3DJobId })
                            <br/>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Printer3DJobId })
                        </ul>
                        
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


