@model WebApplication.Models.ActivationViewModel
@{
    ViewBag.Title = "Activation";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Activation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>An activation mail has been sent to thy email...</h4>
    <h4>Please Enter the activation code from the activation mail below...</h4>
    <hr />
    @Html.ValidationSummary()
    <p class="text-danger">@ViewBag.ActivationStatus</p>
    <div class="form-group">
        @Html.LabelFor(m => m.ActivationCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ActivationCode, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Activate" />
        </div>
    </div>
    <hr />
    <p class="text-success">@ViewBag.ResendStatus</p>
    <h5>If you haven't received your activation code after few minutes, please click on the <b> @Html.ActionLink("Resend", "ResendActivationCode") </b> button to send it to you again</h5>

   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}