@model WebApplication.Models.ApplicationUser

@{
    ViewBag.Title = "Ban";
}
<div class="jumbotron" style="background-color: #f7f7f7; border: 1px silver; border-radius: 5px; padding-top: 2%; padding-bottom: 2%; margin-left: 5%; margin-right: 5%; margin-top: 2%; margin-bottom: 5%; padding-left: 3%; padding-right: 3%;">

    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <br />
            <div>
                <h4>Are you sure you want to ban this user?</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div>
                        <input type="submit" value="Ban" class="btn btn-default" /> 
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
    
