@model WebApplication.Models.DetailsUserViewModel

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron" style="background-color: #f7f7f7; border: 1px silver; border-radius: 5px; padding-top: 2%; padding-bottom: 2%; margin-left: 5%; margin-right: 5%; margin-top: 2%; margin-bottom: 5%; padding-left: 3%; padding-right: 3%;">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <br />
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.FName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FName)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.LName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LName)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.UserRole)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserRole)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Activated)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Activated)
                    </dd>

                </dl>
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
</div>