@model WebApplication.Models.EditUsersViewModel

@{
    ViewBag.Title = "Edit User";
}

<div class="jumbotron, my-jumbotron-style">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserRole, new { @class = "control-label col-md-1" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.UserRole)
                            @Html.ValidationMessageFor(model => model.UserRole)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>        
        </div>
    </div>
</div>
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
