@model WebApplication.Models.IndexUsersViewModel

@{
    ViewBag.Title = "All Users";
}

<div class="jumbotron, my-jumbotron-style">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <br />
            <table class="table table-striped">
                <tr>
                    <th class="col-md-3">
                        Name
                    </th>
                    <th class="col-md-3">
                        Email
                    </th>
                    <th class="col-md-3">
                        Status
                    </th>
                    <th class="col-md-3">
                        Options
                    </th>
                </tr>

                @foreach (var item in Model.UserTuples)
                {
                    <tr>
                        <td class="col-md-3">
                            @Html.DisplayFor(modelItem => item.Item1.FName)
                            @Html.DisplayFor(modelItem => item.Item1.LName)
                        </td>
                        <td class="col-md-3">
                            @Html.DisplayFor(modelItem => item.Item1.UserName)
                        </td>
                        <td class="col-md-3">
                            @Html.DisplayFor(modelItem => item.Item2)
                        </td>
                        <td class="col-md-3">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Item1.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Item1.Id }) |
                            @Html.ActionLink("Ban", "Delete", new { id = item.Item1.Id }) |
                            @Html.ActionLink("Reinsert", "Reinsert", new { id = item.Item1.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

    

